.coin-text{
    color: orangered;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
  }
  
  .first-section{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10rem;
    gap: 3rem;
  }
  
  .coin-text h3{
    font-size: 1.8rem;
    margin-top: -1.6rem;
  }
  
  .text{
    font-weight: lighter;
  }
  
  .close{
    color: #fff;
    display: none;
}

.img-container{
    width: 30vw;
    height: 40vh;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}