.nav-section{
    width: 70%;
    margin: auto;
    background-color: #2b2828;
    color: white;
    border-radius: .5rem;
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.coins{
    display: flex;
    align-items: center;
    gap: 1vw;
    flex: 1;
}

.coin-text{
    color: orangered;
}

.about, .auth{
    display: flex;
    align-items: center;
    gap: .5vw;
    flex: 1;
}

.about span{
    color: white;
}

.ham{
    justify-content: flex-end;
}